/*
PAGE: Wells
______________________________________________________________________
   
*/
/* Steve Quote on Wells Page */
.ehw-bq-style-01 {
  background: aliceblue;
  /* border: solid; */
  box-shadow: 2px 2px 4px #ccc;
  border: solid 1px #0f0f0f;
  }