/**

📱 SHORTCODE: imsg - iPhone text message style

*/

.imsg {
  position: relative;
  font-size: 1.3em;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.3em;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  padding: 15px;

  &:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
  }

  &.first {
    background: #2C7CFE;
    color: #fff;
    margin: 20px 12px 20px 50px;

    &:before {
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-left: 12px solid #2C7CFE;
      bottom: 19px;
      right: -9px;
    }


  }

  &.reply {
    background: #DDD;
    color: #222;
    margin: 20px 50px 20px 12px;

    &:before {
      border-top: 12px solid transparent;
      border-bottom: 12px solid transparent;
      border-right: 12px solid #DDD;
      border-left: none;
      bottom: 19px;
      left: -9px;
    }

  }

}
